-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: lily_web
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `lilyweb_audit_logs`
--

DROP TABLE IF EXISTS `lilyweb_audit_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `lilyweb_audit_logs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `username` varchar(60) NOT NULL,
  `action` varchar(100) NOT NULL,
  `entity_type` varchar(100) NOT NULL,
  `entity_id` varchar(100) DEFAULT NULL,
  `details_json` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`details_json`)),
  `ip_address` varchar(45) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_action_created` (`action`,`created_at`)
) ENGINE=InnoDB AUTO_INCREMENT=103 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lilyweb_audit_logs`
--

LOCK TABLES `lilyweb_audit_logs` WRITE;
/*!40000 ALTER TABLE `lilyweb_audit_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `lilyweb_audit_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lilyweb_backup_records`
--

DROP TABLE IF EXISTS `lilyweb_backup_records`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `lilyweb_backup_records` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `filename` varchar(255) NOT NULL,
  `storage_path` varchar(255) NOT NULL,
  `size_bytes` bigint(20) unsigned NOT NULL DEFAULT 0,
  `checksum_sha256` char(64) DEFAULT NULL,
  `created_by_user` varchar(60) NOT NULL DEFAULT 'Owner',
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `filename` (`filename`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lilyweb_backup_records`
--

LOCK TABLES `lilyweb_backup_records` WRITE;
/*!40000 ALTER TABLE `lilyweb_backup_records` DISABLE KEYS */;
INSERT INTO `lilyweb_backup_records` VALUES (5,'lilyweb_db_backup_2026-09-04_112537.sql','C:\\xampp\\htdocs\\lilyweb/storage/backups/lilyweb_db_backup_2026-09-04_112537.sql',97045,'45c9225f8d79ed21ae3b9fb6c739eefbbabf3516d7d2445b04271932bbc74cd1','admin','2026-09-04 17:25:37');
/*!40000 ALTER TABLE `lilyweb_backup_records` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lilyweb_contact_submissions`
--

DROP TABLE IF EXISTS `lilyweb_contact_submissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `lilyweb_contact_submissions` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `full_name` varchar(150) NOT NULL,
  `phone_number` varchar(50) NOT NULL,
  `email_address` varchar(190) DEFAULT NULL,
  `service_slug` varchar(100) DEFAULT NULL,
  `project_location` varchar(150) DEFAULT NULL,
  `message` text NOT NULL,
  `status` enum('new','contacted','in_progress','closed','archived') NOT NULL DEFAULT 'new',
  `admin_notes` text DEFAULT NULL,
  `ip_address` varchar(45) DEFAULT NULL,
  `user_agent` text DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_status_created` (`status`,`created_at`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lilyweb_contact_submissions`
--

LOCK TABLES `lilyweb_contact_submissions` WRITE;
/*!40000 ALTER TABLE `lilyweb_contact_submissions` DISABLE KEYS */;
INSERT INTO `lilyweb_contact_submissions` VALUES (8,'Owner Local Test','01712345678','client@test.com','Duplex Luxury Interior','Gulshan 2, Dhaka','Looking for complete duplex interior design quotation.','new',NULL,'127.0.0.1','','2026-09-04 17:09:26','2026-09-04 17:09:26'),(9,'Newsletter Subscriber','N/A','subscriber@test.com','newsletter',NULL,'Subscribed to Lily Interiors Newsletter','new',NULL,'127.0.0.1','','2026-09-04 17:09:26','2026-09-04 17:09:26');
/*!40000 ALTER TABLE `lilyweb_contact_submissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lilyweb_faqs`
--

DROP TABLE IF EXISTS `lilyweb_faqs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `lilyweb_faqs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `category` enum('general','process','pricing','warranty','turnkey') NOT NULL DEFAULT 'general',
  `question_en` text NOT NULL,
  `question_bn` text DEFAULT NULL,
  `answer_en` longtext NOT NULL,
  `answer_bn` longtext DEFAULT NULL,
  `sort_order` int(11) NOT NULL DEFAULT 0,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_cat_active` (`category`,`is_active`,`sort_order`),
  KEY `idx_active_sort` (`is_active`,`sort_order`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lilyweb_faqs`
--

LOCK TABLES `lilyweb_faqs` WRITE;
/*!40000 ALTER TABLE `lilyweb_faqs` DISABLE KEYS */;
/*!40000 ALTER TABLE `lilyweb_faqs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lilyweb_hero_slides`
--

DROP TABLE IF EXISTS `lilyweb_hero_slides`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `lilyweb_hero_slides` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `step_number` varchar(10) NOT NULL DEFAULT '01',
  `kicker_en` varchar(100) NOT NULL,
  `kicker_bn` varchar(100) DEFAULT NULL,
  `title_prefix_en` varchar(150) NOT NULL,
  `title_prefix_bn` varchar(150) DEFAULT NULL,
  `title_highlight_en` varchar(100) NOT NULL,
  `title_highlight_bn` varchar(100) DEFAULT NULL,
  `title_suffix_en` varchar(150) NOT NULL,
  `title_suffix_bn` varchar(150) DEFAULT NULL,
  `subtitle_en` text NOT NULL,
  `subtitle_bn` text DEFAULT NULL,
  `image_url` varchar(255) NOT NULL,
  `badge_room_en` varchar(100) NOT NULL,
  `badge_room_bn` varchar(100) DEFAULT NULL,
  `badge_location_en` varchar(100) NOT NULL,
  `badge_location_bn` varchar(100) DEFAULT NULL,
  `cta_text_en` varchar(100) NOT NULL,
  `cta_text_bn` varchar(100) DEFAULT NULL,
  `cta_url` varchar(255) NOT NULL DEFAULT '#portfolio',
  `sort_order` int(11) NOT NULL DEFAULT 0,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_active_sort` (`is_active`,`sort_order`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lilyweb_hero_slides`
--

LOCK TABLES `lilyweb_hero_slides` WRITE;
/*!40000 ALTER TABLE `lilyweb_hero_slides` DISABLE KEYS */;
/*!40000 ALTER TABLE `lilyweb_hero_slides` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lilyweb_media_assets`
--

DROP TABLE IF EXISTS `lilyweb_media_assets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `lilyweb_media_assets` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `original_name` varchar(255) NOT NULL,
  `filename` varchar(255) NOT NULL,
  `storage_path` varchar(255) NOT NULL,
  `mime_type` varchar(100) NOT NULL,
  `size_bytes` bigint(20) unsigned NOT NULL DEFAULT 0,
  `width` int(10) unsigned DEFAULT NULL,
  `height` int(10) unsigned DEFAULT NULL,
  `alt_en` varchar(255) DEFAULT NULL,
  `alt_bn` varchar(255) DEFAULT NULL,
  `hash_sha256` char(64) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `storage_path` (`storage_path`),
  KEY `idx_mime` (`mime_type`)
) ENGINE=InnoDB AUTO_INCREMENT=34 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lilyweb_media_assets`
--

LOCK TABLES `lilyweb_media_assets` WRITE;
/*!40000 ALTER TABLE `lilyweb_media_assets` DISABLE KEYS */;
/*!40000 ALTER TABLE `lilyweb_media_assets` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lilyweb_page_views`
--

DROP TABLE IF EXISTS `lilyweb_page_views`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `lilyweb_page_views` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `view_date` date NOT NULL,
  `page_path` varchar(255) NOT NULL,
  `unique_visitors` int(10) unsigned NOT NULL DEFAULT 1,
  `total_pageviews` int(10) unsigned NOT NULL DEFAULT 1,
  `device_mobile_count` int(10) unsigned NOT NULL DEFAULT 0,
  `device_desktop_count` int(10) unsigned NOT NULL DEFAULT 0,
  `referrer_group` varchar(100) NOT NULL DEFAULT 'Direct',
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uniq_date_page` (`view_date`,`page_path`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lilyweb_page_views`
--

LOCK TABLES `lilyweb_page_views` WRITE;
/*!40000 ALTER TABLE `lilyweb_page_views` DISABLE KEYS */;
/*!40000 ALTER TABLE `lilyweb_page_views` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lilyweb_pages`
--

DROP TABLE IF EXISTS `lilyweb_pages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `lilyweb_pages` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `slug` varchar(120) NOT NULL,
  `title_en` varchar(200) NOT NULL,
  `title_bn` varchar(200) DEFAULT NULL,
  `content_en` longtext DEFAULT NULL,
  `content_bn` longtext DEFAULT NULL,
  `meta_desc_en` varchar(300) DEFAULT NULL,
  `meta_desc_bn` varchar(300) DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `slug` (`slug`),
  KEY `idx_slug_active` (`slug`,`is_active`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lilyweb_pages`
--

LOCK TABLES `lilyweb_pages` WRITE;
/*!40000 ALTER TABLE `lilyweb_pages` DISABLE KEYS */;
/*!40000 ALTER TABLE `lilyweb_pages` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lilyweb_process_steps`
--

DROP TABLE IF EXISTS `lilyweb_process_steps`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `lilyweb_process_steps` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `step_number` varchar(10) NOT NULL,
  `title_en` varchar(150) NOT NULL,
  `title_bn` varchar(150) DEFAULT NULL,
  `description_en` text NOT NULL,
  `description_bn` text DEFAULT NULL,
  `icon_svg` text NOT NULL,
  `sort_order` int(11) NOT NULL DEFAULT 0,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `step_number` (`step_number`),
  KEY `idx_active_sort` (`is_active`,`sort_order`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lilyweb_process_steps`
--

LOCK TABLES `lilyweb_process_steps` WRITE;
/*!40000 ALTER TABLE `lilyweb_process_steps` DISABLE KEYS */;
/*!40000 ALTER TABLE `lilyweb_process_steps` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lilyweb_project_categories`
--

DROP TABLE IF EXISTS `lilyweb_project_categories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `lilyweb_project_categories` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `category_type` enum('room_type','property_type') NOT NULL DEFAULT 'room_type',
  `name_en` varchar(100) NOT NULL,
  `name_bn` varchar(100) DEFAULT NULL,
  `slug` varchar(100) NOT NULL,
  `sort_order` int(11) NOT NULL DEFAULT 0,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `slug` (`slug`),
  KEY `idx_type_active` (`category_type`,`is_active`,`sort_order`),
  KEY `idx_active_sort` (`is_active`,`sort_order`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lilyweb_project_categories`
--

LOCK TABLES `lilyweb_project_categories` WRITE;
/*!40000 ALTER TABLE `lilyweb_project_categories` DISABLE KEYS */;
/*!40000 ALTER TABLE `lilyweb_project_categories` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lilyweb_projects`
--

DROP TABLE IF EXISTS `lilyweb_projects`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `lilyweb_projects` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `slug` varchar(120) NOT NULL,
  `title_en` varchar(200) NOT NULL,
  `title_bn` varchar(200) DEFAULT NULL,
  `summary_en` text NOT NULL,
  `summary_bn` text DEFAULT NULL,
  `description_en` longtext DEFAULT NULL,
  `description_bn` longtext DEFAULT NULL,
  `location_en` varchar(150) NOT NULL,
  `location_bn` varchar(150) DEFAULT NULL,
  `client_name` varchar(150) DEFAULT NULL,
  `completion_year` varchar(20) NOT NULL DEFAULT '2025',
  `area_sqft` varchar(50) NOT NULL DEFAULT '2,800 sqft',
  `room_details_en` varchar(100) NOT NULL DEFAULT '4 Bed, 5 Bath, Living, Dining',
  `room_details_bn` varchar(100) DEFAULT NULL,
  `design_style_en` varchar(100) NOT NULL DEFAULT 'Modern Luxury Minimalism',
  `design_style_bn` varchar(100) DEFAULT NULL,
  `project_status` enum('Completed','In Progress','Concept') NOT NULL DEFAULT 'Completed',
  `cover_image` varchar(255) NOT NULL,
  `features_json` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`features_json`)),
  `highlights_json` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`highlights_json`)),
  `materials_json` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`materials_json`)),
  `gallery_json` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`gallery_json`)),
  `proposal_pdf` varchar(255) DEFAULT NULL,
  `room_type_key` varchar(50) NOT NULL DEFAULT 'living_room',
  `property_type_key` varchar(50) NOT NULL DEFAULT 'residential',
  `show_on_home` tinyint(1) NOT NULL DEFAULT 1,
  `is_featured` tinyint(1) NOT NULL DEFAULT 0,
  `sort_order` int(11) NOT NULL DEFAULT 0,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `slug` (`slug`),
  KEY `idx_home_active` (`show_on_home`,`is_active`,`sort_order`),
  KEY `idx_room_key` (`room_type_key`),
  KEY `idx_prop_key` (`property_type_key`),
  KEY `idx_active_home` (`is_active`,`show_on_home`,`is_featured`,`sort_order`),
  KEY `idx_slug` (`slug`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lilyweb_projects`
--

LOCK TABLES `lilyweb_projects` WRITE;
/*!40000 ALTER TABLE `lilyweb_projects` DISABLE KEYS */;
/*!40000 ALTER TABLE `lilyweb_projects` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lilyweb_services`
--

DROP TABLE IF EXISTS `lilyweb_services`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `lilyweb_services` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `slug` varchar(100) NOT NULL,
  `title_en` varchar(150) NOT NULL,
  `title_bn` varchar(150) DEFAULT NULL,
  `tag_badge_en` varchar(100) NOT NULL,
  `tag_badge_bn` varchar(100) DEFAULT NULL,
  `summary_en` text NOT NULL,
  `summary_bn` text DEFAULT NULL,
  `description_en` longtext DEFAULT NULL,
  `description_bn` longtext DEFAULT NULL,
  `icon_svg` text NOT NULL,
  `sort_order` int(11) NOT NULL DEFAULT 0,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `slug` (`slug`),
  KEY `idx_active_sort` (`is_active`,`sort_order`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lilyweb_services`
--

LOCK TABLES `lilyweb_services` WRITE;
/*!40000 ALTER TABLE `lilyweb_services` DISABLE KEYS */;
/*!40000 ALTER TABLE `lilyweb_services` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lilyweb_site_settings`
--

DROP TABLE IF EXISTS `lilyweb_site_settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `lilyweb_site_settings` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `setting_key` varchar(100) NOT NULL,
  `setting_value` longtext DEFAULT NULL,
  `setting_group` enum('general','contact','social','legal','seo') NOT NULL DEFAULT 'general',
  `is_public` tinyint(1) NOT NULL DEFAULT 1,
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `setting_key` (`setting_key`),
  KEY `idx_group` (`setting_group`),
  KEY `idx_key` (`setting_key`)
) ENGINE=InnoDB AUTO_INCREMENT=178 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lilyweb_site_settings`
--

LOCK TABLES `lilyweb_site_settings` WRITE;
/*!40000 ALTER TABLE `lilyweb_site_settings` DISABLE KEYS */;
/*!40000 ALTER TABLE `lilyweb_site_settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lilyweb_stats`
--

DROP TABLE IF EXISTS `lilyweb_stats`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `lilyweb_stats` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `stat_key` varchar(50) NOT NULL,
  `value_number` int(11) NOT NULL DEFAULT 0,
  `suffix` varchar(20) NOT NULL DEFAULT '+',
  `label_en` varchar(100) NOT NULL,
  `label_bn` varchar(100) DEFAULT NULL,
  `icon_svg` text NOT NULL,
  `sort_order` int(11) NOT NULL DEFAULT 0,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `stat_key` (`stat_key`),
  KEY `idx_active_sort` (`is_active`,`sort_order`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lilyweb_stats`
--

LOCK TABLES `lilyweb_stats` WRITE;
/*!40000 ALTER TABLE `lilyweb_stats` DISABLE KEYS */;
/*!40000 ALTER TABLE `lilyweb_stats` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lilyweb_system_logs`
--

DROP TABLE IF EXISTS `lilyweb_system_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `lilyweb_system_logs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `log_level` enum('info','warning','error','critical') NOT NULL DEFAULT 'info',
  `error_code` varchar(50) DEFAULT NULL,
  `message` text NOT NULL,
  `stack_trace` longtext DEFAULT NULL,
  `request_uri` varchar(255) DEFAULT NULL,
  `ip_address` varchar(45) DEFAULT NULL,
  `is_resolved` tinyint(1) NOT NULL DEFAULT 0,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_level_resolved` (`log_level`,`is_resolved`,`created_at`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lilyweb_system_logs`
--

LOCK TABLES `lilyweb_system_logs` WRITE;
/*!40000 ALTER TABLE `lilyweb_system_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `lilyweb_system_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lilyweb_testimonials`
--

DROP TABLE IF EXISTS `lilyweb_testimonials`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `lilyweb_testimonials` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `author_name` varchar(150) NOT NULL,
  `author_role_en` varchar(150) NOT NULL,
  `author_role_bn` varchar(150) DEFAULT NULL,
  `author_location_en` varchar(150) NOT NULL,
  `author_location_bn` varchar(150) DEFAULT NULL,
  `project_tag_en` varchar(150) NOT NULL,
  `project_tag_bn` varchar(150) DEFAULT NULL,
  `author_initials` varchar(10) NOT NULL,
  `content_en` text NOT NULL,
  `content_bn` text DEFAULT NULL,
  `rating_score` decimal(2,1) NOT NULL DEFAULT 5.0,
  `is_verified` tinyint(1) NOT NULL DEFAULT 1,
  `sort_order` int(11) NOT NULL DEFAULT 0,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_active_sort` (`is_active`,`sort_order`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lilyweb_testimonials`
--

LOCK TABLES `lilyweb_testimonials` WRITE;
/*!40000 ALTER TABLE `lilyweb_testimonials` DISABLE KEYS */;
/*!40000 ALTER TABLE `lilyweb_testimonials` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lilyweb_users`
--

DROP TABLE IF EXISTS `lilyweb_users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `lilyweb_users` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `username` varchar(60) NOT NULL,
  `email` varchar(190) NOT NULL,
  `password_hash` varchar(255) NOT NULL,
  `display_name` varchar(100) NOT NULL DEFAULT 'Owner',
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `last_login_at` datetime DEFAULT NULL,
  `remember_token` varchar(100) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lilyweb_users`
--

LOCK TABLES `lilyweb_users` WRITE;
/*!40000 ALTER TABLE `lilyweb_users` DISABLE KEYS */;
INSERT INTO `lilyweb_users` VALUES (1,'admin','admin@lilyinteriorsbd.com','$2y$12$zMvd3N794MDlusDJDiQNM.VXTBDLJ36uLeq4SFLzLPYfJpYPddNxm','Lily Interiors Owner',1,'2026-09-04 17:14:49',NULL,'2026-08-31 18:26:57','2026-09-04 17:14:49'),(2,'lilyweb','lilyweb@lilyinteriorsbd.com','$2y$12$zMvd3N794MDlusDJDiQNM.VXTBDLJ36uLeq4SFLzLPYfJpYPddNxm','Lilyweb',1,'2026-09-04 17:08:38',NULL,'2026-09-04 15:45:12','2026-09-04 17:08:38');
/*!40000 ALTER TABLE `lilyweb_users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-09-15 18:31:11
